
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon_id in cart %}    
            <tr> 
                <td>{{cart[melon_id]['name']}}</td>
                <td>{{cart[melon_id]['qty']}}</td>
                <td>{{cart[melon_id]['price']}}</td>
                <td>{{cart[melon_id]['melon total']}}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
<!-- TODO: running total of melons in cart needs to be added -->
    <h3>Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
